<% content_for :title do %>Shop Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ordercount" data-view="Number" data-title="Bestellungen" data-moreinfo="Letzte 7 Tage"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ordervalue" data-view="Number" data-title="Umsatz" data-moreinfo="Letzte 7 Tage" data-prefix="€"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="origins" data-view="List" data-unordered="true" data-title="Bestell-Quellen" data-moreinfo="Letzte 7 Tage"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="states" data-view="List" data-unordered="true" data-title="Status"></div>
    </li>

</div>
